.myself{
    background-color:white ;
    font-family: Shizuru;
    height:550px;
    font-size: 50px;
    color:rgb(19, 19, 49);
}

@media screen and (min-width: 320px)
 {
.myself{
    font-size: 20px;
}
    
}